.gig {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.band-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.description {
    font-style: italic;
}

.date-time {
    font-weight: bold;
}
.favorite-button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.favorite-status {
    color: green;
  font-weight: bold;
}

